.photo {
    display: grid;
    grid-template-columns: 36rem 20rem;
    grid-template-rows: auto 1fr auto;
    height: 36rem;
    margin: auto;
    overflow: hidden;
    border-radius: .2rem;
    background: white;
    transform: scale(0.8);
    animation: scaleUp 0.3s forwards;
}

.single.photo {
    grid-template-columns: 1fr;
    height: auto;
}

@keyframes scaleUp {
    to {
        opacity: initial;
        transform: initial;
    }
}

.img {
    grid-row: 1/4;
}

.single .img {
    grid-row: 1;
    border-radius: 1rem;
    overflow: hidden;
}

.details {
    padding: 2rem 2rem 0 2rem;
}

.single .details {
    padding: 1rem 0 0 0;
}

.author {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    opacity: 0.5;
}

.author a:hover {
    text-decoration: underline;
}

.visualizacoes::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 10px;
    margin-right: .5rem;
    background: url('../../Assets/visualizacao-black.svg');
}

.attributes {
    display: flex;
    padding: 0;
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.attributes li {
    margin-right: 2rem;
}

.attributes li::before {
    content: '';
    display: inline-block;
    position: relative;
    width: 2px;
    height: 20px;
    margin-right: 0.5rem;
    margin-top: 5px;
    top: 3px;
    background: #333;
}

@media (max-width: 64rem) {
    .photo {
        height: auto;
        max-height: calc(100vh - 4rem);
        overflow-y: auto;
        grid-template-columns: minmax(20rem, 40rem);
    }

    .img {
        grid-row: 1;
    }
}